*{
    margin: 0;
    padding: 0;
}


#board{
    background-color: yellowgreen;
    height: 82vmin;
    width: 82vmin;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: rgba(0, 0, 0, 0.767);
    border: 2px solid yellowgreen; 
    transform: scale(1.04);
}

.snake{
    background-color: rgba(0, 0, 0, 0.603);
    border: .25vmin solid yellowgreen;
}

.food{
    background-color: rgba(0, 0, 0, 0.767);
    border: .25vmin solid yellowgreen;
    border-radius: 20px;
    
}